<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<div class="container">
<div class="ingredients">
    <h3>QueryExecution</h3>
    <ul>
        {% for key, val in resp.QueryExecution.items() %}
            <li>{{ key }}: {{ val }}</li>
        {% endfor %}
    </ul>
</div>
<div class="method">
    <h3>ResponseMetadata</h3>
    <ul>
        {% for key, val in resp.ResponseMetadata.items() %}
            <li>{{ key }}: {{ val }}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
